@import 'bulma/bulma.sass';
@import '@mdi/font/css/materialdesignicons.css';
@import "bulma-prefers-dark/bulma-prefers-dark.sass";
@import "bulma-calendar/src/sass/index.sass";
@import "bulma-extensions/bulma-switch/src/sass/index.sass";



.is-fullheight {
    height: 100%;
}

.footer {
    margin-top: -12px;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked+.nav-menu {
        display: block;
    }
}

.custom-menu li {
    height: 55px;
    padding: 1px;
    line-height: 55px;
}

.card.has-table .card-content {
    padding: 1em 0;
}

.card-header-actions {
    align-items: center;
    display: flex;
    padding-right: 1em;
}

.main-box {
    padding: 3em;
    padding-bottom: 0;
    min-height: calc(100vh - 5.25rem);
}

footer {
    padding-top: 2em;
    padding-bottom: 0.5em;
    text-align: center;
}

.monitor-border {
    border: 12px solid #000;
    border-radius: 5px;
}

.slideout {
    transition: all 0.4s ease-in-out;
}

.slideout_hide {
    height: 0 !important;
    padding: 0 !important;
}

.processing_info {
    font-size: 0.75em !important;
}

.processing_info span:last-child {
    margin-top: 0.25em;
}

.loader {
    width: 20px;
    height: 20px;
    border: 4px dotted #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    animation: rotation 2s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.table thead th:last-child {
    width: 5%;
    white-space: nowrap;
    text-align: center;
}

.table td {
    vertical-align: middle;
}
.actions-cell {
    width: 5%;
    white-space: nowrap;
    text-align: center;
}

.field.is-fullwidth {
    width: 100%;
}
